body {
  height: 97vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgb(247, 197, 204), rgb(252, 178, 148), whitesmoke);
  color: whitesmoke;
  text-shadow: 2px 2px 1px black;
  text-align: center;
}